<div class="card shadow">
    <div class="card-body">
        <h3 class="card-title">{{ title }}</h3>
        <p class="card-text">
            {{ summary }}
        </p>
        <div class="examplesBlock">
            <h5 class="examplesTitle">Examples:</h5>
            <ul class="list-group list-group-horizontal d-none d-xl-flex">
                <li class="list-group-item" *ngFor="let example of examples">
                    <span class="fw-bold">{{ example.from }}:</span>{{ example.to }}
                </li>
            </ul>
            <ul class="list-inline d-xl-none">
                <li class="list-group-item" *ngFor="let example of examples">
                    <span class="fw-bold">{{ example.from }}:</span>{{ example.to }}
                </li>
            </ul>
        </div>
        <hr>
        <div class="formBlock">
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="form-floating">
                        <input class="form-control" type="text" [(ngModel)]="inputValue" id="floatingInput" placeholder="Fill this field" aria-label="Fill input">
                        <label for="floatingInput">Fill this input</label>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <button type="button" class="btn btn-secondary btn-lg fw-bold" (click)="startConvertion()">CONVERT</button>
                </div>
            </div>
            <div class="form-text">
                <span class="text-danger">{{ errorMessage }}</span>
            </div>
            <div class="resultBox">
                {{ result }}
            </div>
        </div>
    </div>
</div>